---
name: Checking code functionality

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci-qlty:
    runs-on: ubuntu-latest

    container: fedorapython/fedora-python-tox:latest

    strategy:
      fail-fast: false
      matrix:
        tox-env: ["py312","py313"]

    steps:
      - name: Checkout the codebase current state
        uses: actions/checkout@v6

      - name: Install the base dependencies
        run: python3 -m pip install --upgrade poetry tox

      - name: Copy the default database, server and alembic configuration files
        run: |
             mv fastapi_ecom/config/config.py.example fastapi_ecom/config/config.py
             mv fastapi_ecom/migrations/alembic.ini.example fastapi_ecom/migrations/alembic.ini

      - name: Check the functionality of the code
        run: tox -e ${{ matrix.tox-env }}